<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Re:Mind</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript -->
  <script
  data-require="angular.js@1.3.17"
  data-semver="1.3.17"
  src="https://code.angularjs.org/1.3.17/angular.js"></script>
  <script src="js/config.js?rev=4"></script>
  <script src="js/script.js?rev=4"></script>

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon2.png">

</head>
<body ng-app='remindApp'>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" ng-controller="indexController">
  	<div class="row">
  		<h1>Re:Mind</h1>
  		<form name="form" >
  			<div class="row">
  				<div class="twelve columns">
  					<label for="email">Epost</label>
  					<input
  					class="u-full-width"
  					name="email"
  					id="email"
  					type="email"
  					ng-model="email"
  					placeholder="test@mailbox.com"
  					required>
  				</div>
  				<p ng-hide="form.email.$valid">
  					Ange din epostadress
  				</p>
  				<p ng-show="form.email.$valid">
  					Klicka på en knapp för att fortsätta
  				</p>
  			</div>
  			<div class="row">
  				<div class="twelve columns" style="margin-top: 5%">
  					<input
  					    type="submit"
  					    ng-enabled="form.email.$valid"
  					    href="process.html"
  					    class="six columns button-primary"
  					    value="Ny"
  					    ng-click="form.email.$valid && goCollect()">
  					<input
  					    type="submit"
  					    ng-enabled="form.email.$valid"
  					    href="process.html"
  					    class="six columns button-primary"
  					    value="Visa"
  					    ng-click="form.email.$valid && goProcess()">
  				</div>
  			</form>
  		</div>
  	</div>
  </div>

<!-- End Document
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
