<form name="form" >

	<div class="row">
		<div class="twelve columns">
			<label for="email">Epost</label>
			<input
			class="u-full-width"
			name="email"
			id="email"
			type="email"
			ng-model="email"
			placeholder="test@mailbox.com"
			required>
		</div>
		<p ng-hide="form.email.$valid">
			Ange din epostadress
		</p>
		<p ng-show="form.email.$valid">
			Klicka på en knapp för att fortsätta
		</p>
	</div>

	<div class="row">
		<div class="twelve columns">
			<input
			type="submit"
			ng-enabled="form.email.$valid"
			href="process.html"
			class="six columns button-primary"
			value="Ny"
			name="collect"
			ng-click="form.email.$valid && goCollect()">
			<input
			type="submit"
			ng-enabled="form.email.$valid"
			href="process.html"
			class="six columns button-primary"
			value="Visa"
			name="process"
			ng-click="form.email.$valid && goProcess()">
		</div>
	</div>

</form>
