<form name="form" >

	<div class="row">

		<div class="twelve columns">
			<h2>Varför Re:Mind?</h2>

			<p>
				Kommer du på bra idéer när du är på språng? Kommer du på vad du behöver
				där hemma när du är på jobbet och tvärtom? Ogillar du att hålla reda på en
				massa saker i huvudet, och oroar dig för att tappa bort dem på olika
				papperslappar som flyter runt i tillvaron?
				<em>Då är Re:Mind för dig.</em>
			</p>


			<h2>Vad är Re:Mind?</h2>
			<p>
				Re:Mind är en mobilanpassad superenkel websajt för att skriva ned idéer via mobilen,
				för att senare gå igenom dem i lugn och ro vid datorn. All information
				sparas på ditt konto online, inget sparas lokalt på din enhet.
			</p>
			<p>
				Namnet Re:Mind är en ordlek - en blandning av det engelska ordet
				"remind" (påminn) och förkortningen "Re:" (Reply) från epostens värld.
			</p>

			<h2>Hur funkar Re:Mind?</h2>
			<p>
				Du når Re:Mind lättast genom följande adress, som är en redirect till
				exakt rätt sida på nätet:
				<a href="http://j.mp/remind-app"><pre>j.mp/remind-app</pre></a>
			</p>
			<p>
				Först <a href="signup.html">skapar du ett konto</a>. Sen lägger du ett
				bokmärke på <a href="collect.html">sidan där du
				skriver</a> anteckningar på din mobils skrivbord, så att du snabbt och på
				språng kan få ur dig din tanke.
			</p>
			<p>
				Slutligen loggar du in på <a href="login.html">Re:Mind</a> på din dator,
				så att du bekvämt kan <a href="process.html">gå igenom</a> dina anteckningar.
			</p>
		</div>

	</form>
