<form ng-submit="login(email, password)">

	<div class="row">
		<div class="twelve columns">
			<p id="message">&nbsp;{{message}}</p>
		</div>
	</div>

	<div class="row">
		<div class="six columns">
			<label for="email">Epost</label>
			<input
			class="u-full-width"
			name="email"
			id="email"
			type="email"
			ng-model="email"
			placeholder="test@mailbox.com"
			required>
		</div>
		<div class="six columns">
			<label for="email">Lösenord</label>
			<input
			class="u-full-width"
			name="password"
			id="password"
			type="password"
			ng-model="password"
			placeholder=""
			required>
		</div>
	</div>

	<div class="row">
		<div class="twelve columns">
			<input
			type="submit"
			ng-enabled="form.email.$valid"
			href="process.html"
			class="u-full-width button-primary"
			value="Logga in"
			name="login"
			ng-enabled="form.email.$valid">
		</div>
	</div>

</form>
