
<form ng-submit="removeTop()">

  <div class="row" ng-show="notes.length == 0 && booting">
    <h1 class="centered"><em>Laddar kom-ihåg-lappar...</em></h1>
  </div>

  <div class="row" ng-show="notes.length == 0 && !booting">
    <h1 class="centered"><em>Inget att se här, move on!</em></h1>
  </div>

  <div ng-show="notes.length > 0">

    <div class="row">
      <div class="twelve columns">
        <h2 id="top" class="eight columns">
          {{ notes[0] }}
        </h2>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px">
      <div class="twelve columns">
        <input
        class="u-full-width button-primary"
        value="Släng"
        title="Ta bort översta texten (Del)"
        name="remove_top"
        type="submit">
      </div>
    </div>

    <div class="row">
      <div class="twelve columns" ng-repeat="note in notes.slice(1) track by $index">
        <p class="u-full-width">{{note}}</p>
      </div>
    </div>

  </div>

</form>
